<p>
  items works!
 
</p>
<body style="background-image:url( https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/bb64d431-71b8-486d-a586-d02250272e70/db3w2fp-e0d32e69-5c96-47ca-92fb-cfba0099adf9.png/v1/fill/w_1000,h_537,q_80,strp/pokedex_background_by_pokenoxtu_db3w2fp-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTM3IiwicGF0aCI6IlwvZlwvYmI2NGQ0MzEtNzFiOC00ODZkLWE1ODYtZDAyMjUwMjcyZTcwXC9kYjN3MmZwLWUwZDMyZTY5LTVjOTYtNDdjYS05MmZiLWNmYmEwMDk5YWRmOS5wbmciLCJ3aWR0aCI6Ijw9MTAwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.RXolK65M-oxXtq2nD903Bx--XTOhrLGIBQW2gYG7Gfs);">
<br>
<br>
<button (click)="buy()">buy</button>
<img src= "{{pokeball}}" width:="80" height="80">
<img src="{{masterball}}">
</body>