<p>
  items works!

</p>

<body style="background-image:url(http://orig08.deviantart.net/ce7f/f/2012/227/6/d/professor_oak__s_lab_by_rosegardeninhell-d5b7ktm.jpg)" >
  <br>
  <br>
  <div class="container">
     <img src= "https://pbs.twimg.com/profile_images/3690827612/e0dd24ae7423decf7914e0930adcfca5_400x400.jpeg" alt="lol" class="rounded float-right"  width="25%" height="75%">
    <div class="row">
      <div class="col">
        <img src={{pokeball}} alt="lol" style="border:10px red dashed; width:auto; height:125px" />
        <form>
          <input type="number" name="quantity" min="1" max="500"><br>
          <button type="button" class="btn btn-info">Sell!</button>
          <button type="button" class="btn btn-warning">Buy!</button>
        </form>
      </div>
      <div class="col">
        <img src={{masterball}} alt="lol" style="border:10px red dashed; width:auto; height:125px" />
        <form>
          <input type="number" name="quantity" min="1" max="500"><br>
          <button type="button" class="btn btn-info">Sell!</button>
          <button type="button" class="btn btn-warning">Buy!</button>
        </form>
      </div>
      <div class="col">
        <img src={{ultraball}} alt="lol" style="border:10px red dashed; width:auto; height:125px" />
        <form>
          <input type="number" name="quantity" min="1" max="500"><br>
          <button type="button" class="btn btn-info">Sell!</button>
          <button type="button" class="btn btn-warning">Buy!</button>
        </form>
      </div>
      <div class="col">
        <img src={{greatball}} alt="lol" style="border:10px red dashed; width:auto; height:125px" />
        <form>
          <input type="number" name="quantity" min="1" max="500"><br>
          <button type="button" class="btn btn-info">Sell!</button>
          <button type="button" class="btn btn-warning">Buy!</button>
        </form>
      </div>
      <div class="col">
        <img src={{safariball}} alt="lol" style="border:10px red dashed; width:auto; height:125px" />
        <form>
          <input type="number" name="quantity" min="1" max="500"><br>
          <button type="button" class="btn btn-info">Sell!</button>
          <button type="button" class="btn btn-warning">Buy!</button>
        </form>
      </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
          <img src={{netball}} alt="lol" style="border:10px red dashed; width:auto; height:125px" />
          <form>
            <input type="number" name="quantity" min="1" max="500"><br>
            <button type="button" class="btn btn-info">Sell!</button>
            <button type="button" class="btn btn-warning">Buy!</button>
          </form>
        </div>
        <div class="col">
          <img src={{diveball}} alt="lol" style="border:10px red dashed; width:auto; height:125px" />
          <form>
            <input type="number" name="quantity" min="1" max="500"><br>
            <button type="button" class="btn btn-info">Sell!</button>
            <button type="button" class="btn btn-warning">Buy!</button>
          </form>
        </div>
        <div class="col">
          <img src={{nestball}} alt="lol" style="border:10px red dashed; width:auto; height:125px" />
          <form>
            <input type="number" name="quantity" min="1" max="500"><br>
            <button type="button" class="btn btn-info">Sell!</button>
            <button type="button" class="btn btn-warning">Buy!</button>
          </form>
        </div>
        <div class="col">
          <img src={{repeatball}} alt="lol" style="border:10px red dashed; width:auto; height:125px" />
          <form>
            <input type="number" name="quantity" min="1" max="500"><br>
            <button type="button" class="btn btn-info">Sell!</button>
            <button type="button" class="btn btn-warning">Buy!</button>
          </form>
        </div>
        <div class="col">
          <img src={{timerball}} alt="{{timerball}}" style="border:10px red dashed; width:auto; height:125px" />
          <form>
            <input type="number" name="quantity" min="1" max="500"><br>
            <button type="button" class="btn btn-info">Sell!</button>
            <button type="button" class="btn btn-warning">Buy!</button>
          </form>
        </div>
      </div>
      <br>
      <div class="row">
          <div class="col">
            <img src={{quickball}} alt="{{quickball}}" style="border:10px red dashed; width:auto; height:125px" />
            <form>
              <input type="number" name="quantity" min="1" max="500"><br>
              <button type="button" class="btn btn-info">Sell!</button>
              <button type="button" class="btn btn-warning">Buy!</button>
            </form>
          </div>
          <div class="col">
            <img src={{healball}} alt="{{healball}}" style="border:10px red dashed; width:auto; height:125px" />
            <form>
              <input type="number" name="quantity" min="1" max="500"><br>
              <button type="button" class="btn btn-info">Sell!</button>
              <button type="button" class="btn btn-warning">Buy!</button>
            </form>
          </div>
          <div class="col">
            <img src={{duskball}} alt="{{duskball}}" style="border:10px red dashed; width:auto; height:125px" />
            <form>
              <input type="number" name="quantity" min="1" max="500"><br>
              <button type="button" class="btn btn-info">Sell!</button>
              <button type="button" class="btn btn-warning">Buy!</button>
            </form>
          </div>
          <div class="col">
            <img src={{premierball}} alt="{{premierball}}" style="border:10px red dashed; width:auto; height:125px" />
            <form>
              <input type="number" name="quantity" min="1" max="500"><br>
              <button type="button" class="btn btn-info">Sell!</button>
              <button type="button" class="btn btn-warning">Buy!</button>
            </form>
          </div>
          <div class="col">
            <img src={{luxuryball}} alt="{{luxuryball}}" style="border:10px red dashed; width:auto; height:125px" />
            <form>
              <input type="number" name="quantity" min="1" max="500"><br>
              <button type="button" class="btn btn-info">Sell!</button>
              <button type="button" class="btn btn-warning">Buy!</button>
            </form>
          </div>
        </div>
  </div>
</body>