<br><br><br><br><br>
<p>
  pokemons works!
</p>

<p></p>
Pokemon Name: <input type="text" [(ngModel)]= "pokeName">
<button (click) = "search()">Search</button>

<h2>Pokemon Name: {{response.forms[0].name}}</h2>
<!--<h2>Pokemon Type: {{response.types[1].name}}</h2>-->
<h2>Pokemon Move: {{response.moves[3].move.name}}</h2>
<h2>Pokemon Move: {{response.moves[2].move.name}}</h2>
<h2>Pokemon Move: {{response.moves[1].move.name}}</h2>
<img src = "{{response.sprites.front_default}}">
<img src = "{{response.sprites.back_default}}">
<img src = "{{response.sprites.front_shiny}}">
<img src = "{{response.sprites.back_shiny}}">

<table style ="border: 3px dashed red;">
<tr>
  <th>Name:</th>
  <th>  </th>
  <th>Move 1:</th>
  <th>Move 2:</th>
  <th>Move 3:</th>
  </tr>

  <tr>
    <td>Pokemon Name: {{response.forms[0].name}}</td>
    <br>
    <td><img src = "{{response.sprites.front_default}}"><img src = "{{response.sprites.back_default}}"><img src = "{{response.sprites.front_shiny}}">
      <img src = "{{response.sprites.back_shiny}}"></td>
    <br>
    <td>Pokemon Move: {{response.moves[3].move.name}}</td>
    <br>
    <td>Pokemon Move: {{response.moves[2].move.name}}</td>
    <br>
    <td>Pokemon Move: {{response.moves[1].move.name}}</td>

  
</tr>
</table>


