<br>
<br>
<br>

<body style ="background-image:url(https://lh5.googleusercontent.com/SXwUX4EFlj8pEc-HBT4cCnf9LTC-FdMfakp9339XOdttrKu--OtjiBMf9vFfNkg-1n-2ZhQyxsBN0cuV4x4I4CXCW8_tsBQ9hXheEla6AM4-Uc9vtKOf=w1175);background-color: beige">

  <div class="container">
   

  <kbd>Pokemon Name: </kbd><input type="text" (keyup.enter)="search()" [(ngModel)]= "pokeName">
  <button (click) = "search()" >Search</button>

  
 
  <img src="https://www.anime-planet.com/images/characters/nurse-joy-15257.jpg?t=1391273107" alt="lol" class="rounded float-right" width="18%" height="35%" >
<br>
  <img src = "{{front}}" alt="lol">
  <img src = "{{back}}" alt="lol">
  <img src = "{{shinyfront}}" alt="lol">
  <img src = "{{shinyback}}" alt="lol">
<br>
<br>
<br>
  <div style="background-color:white;padding:10px;display:table;">
  <table style="animation: cubic-bezier(5); white-space: nowrap; width:auto; "> 
  <tr>
    <th>Type:</th>
    <th>{{type}}</th>
  </tr>
  <tr>
    <th>Special-Defense:</th>
    <th>{{specialdefense}}</th>
  </tr>
  <tr>
    <th>Special-Attack:</th>
    <th>{{specialattack}}</th>
  </tr>
  <tr>
    <th>Defense:</th>
    <th>{{defense}}</th>
  </tr>
  <tr>
    <th>Attack:</th>
    <th>{{attack}}</th>
  </tr>
  <tr> 
    <th>HP:</th>
    <th>{{hp}}</th>
  </tr>
  </table>
  </div>
</div>

<div class ="container">
<br>
<br>
  
  <div style="background-color: lightgreen; padding:10x;"><h2><kbd>Pokemon Name:  </kbd>{{pokename}}</h2></div>
  <!--<h2>Pokemon Type: {{response.types[1].name}}</h2>-->
  <div style ="background-color:lightgreen; padding:10x;"><h2><kbd>Pokemon Move:  </kbd>{{move1}}</h2></div>
  <div style ="background-color:lightgreen; padding:10x;"><h2><kbd>Pokemon Move:  </kbd> {{move2}}</h2></div>
  <div style="background-color:lightgreen; padding:10x;"><h2><kbd>Pokemon Move:  </kbd>{{move3}}</h2></div>
  
</div>

<div class = "container">
<table style ="border: 10px dashed red; padding: 0.5rem;  width:100%; ">
<tr>
  <th>Name:</th>
  <th>  </th>
  <th>Move (1)</th>
  <th>Move (2)</th>
  <th>Move (3)</th>
  <br>
  </tr>
  <tr>
  
    <td><kbd> {{pokename}}</kbd></td>

    <td><img src = "{{front}}" ><img src = "{{back}}" alt="lol"></td>
    
    <td><kbd> {{move1}}</kbd></td>
    
    <td><kbd>{{move2}}</kbd></td>
    
    <td><kbd>{{move3}}</kbd></td>
</tr>
</table>
</div>
</body>

