<div class="animated fadeIn">
     <ul class="nav justify-content-center">
        <div class="card">
          
          <div class="card-body">
            <form>
              <div class="input-group form-group">
                <input [(ngModel)]="tr.firstName" name ="tr.firstName" type="text" class="form-control" placeholder="First Name">
                <input [(ngModel)]="tr.lastName" name = "tr.lastName" type="text" class="form-control" placeholder="Last Name">
              </div>
              <div class="input-group form-group">
                <input [(ngModel)]="tr.userName" name ="tr.userName" type="text" class="form-control" placeholder="Username">
              </div>
              <div class="input-group form-group">
                <input [(ngModel)]="tr.password" name="tr.password" type="password" class="form-control" placeholder="password">
              </div>
              <div class="input-group form-group">
                <input type="password" class="form-control" placeholder="confirm-password">
              </div>
              
              <section >
                
                <mat-radio-group >

                  <p>  
                    <mat-radio-button class="margin"  value="after">M  </mat-radio-button>
                    <mat-radio-button  value="before">F</mat-radio-button>
                  </p>
                </mat-radio-group>
              </section>

              
            </form>
          </div>
          
        </div>
      </ul>
    
</div>
<p style="text-align:center; color: gray ">
    <button mat-button  (click)="signIn()">Sign In</button>
</p>