
<mat-sidenav-container   class="bgsimulation" >
    <mat-sidenav class="bgsimulation" #sidenav mode="side" opened={{side}} class="sidebar">
      <br><br><br>
      
      <mat-nav-list>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            </ul>
      </div>
        
        
        <a mat-list-item routerLink="/profile"> 
          <i class="material-icons">
            perm_identity
            </i>
          Profile 
        </a>
        <a mat-list-item routerLink="/pokemons"> 
          <i class="material-icons">
            adb
            </i>
          Pokedex </a>
        <a mat-list-item routerLink="/catch-em-all"> 
          <i class="material-icons">
            emoji_nature
            </i>
          Catch 'Em All </a>
        <a mat-list-item routerLink="/items">Item Shop</a>
        <a mat-list-item routerLink="/log-out"> 
          <i class="material-icons">
            meeting_room
            </i>
          Log Out </a>
        <a mat-list-item routerLink="/tests">Tests </a>
        
        
  
      </mat-nav-list>
        
      </mat-sidenav>
        
      <mat-sidenav-content  >
         
        <router-outlet></router-outlet>
          
        
       
      </mat-sidenav-content>
      
    </mat-sidenav-container>
    