
<mat-sidenav-container class="bgsimulation">
    <mat-sidenav class="bgsimulation" #sidenav mode="side" opened="false" class="sidebar">
      <br><br><br>
      Sidenav content
      <mat-nav-list>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            </ul>
      </div>
      
        <a mat-list-item routerLink="/home"> Home </a>
        <a mat-list-item > Create Account </a>
        <a mat-list-item > Contacts </a>
        <a mat-list-item > Create Contact </a>
        <a mat-list-item > Activities </a>
        <a mat-list-item > Create Activity </a>
        <a mat-list-item >Close</a>
  
      </mat-nav-list>
        
      </mat-sidenav>
        
      <mat-sidenav-content (click)="sidenav.toggle()">
         
        <router-outlet></router-outlet>
          
        
       
      </mat-sidenav-content>
      
    </mat-sidenav-container>
    