
<div class={{animateloginform}}>

  <div class="container">
    <div style="text-align:center"  class="animated flip">
      <br><br><br><br>
      <img src="http://pngimg.com/uploads/pokemon_logo/pokemon_logo_PNG10.png" width="45%">
    </div>
  </div>
  <div class={{animateloginform}}>

    <app-log-in></app-log-in>

  </div>
  <div class={{animatesigninform}}>
    <app-sig-in></app-sig-in>
  </div>

</div>   
<p style="text-align:center; color: gray ">
  <button mat-button (click)="logIn()"  >Log in</button>
  <button mat-button (click)="signIn()">Sign In</button>
</p>