<br><br><br><br>
<p>
  profile works!
</p>
<button (click)='getTrainer_1()'  (click)='getPokemonsTrainer_1()'>catch</button>
<p>
  {{tr.trainerId}}
</p>
<p>
  {{tr.firstName}}
</p>
<p>
  {{tr.lastName}}
</p>
<p>
  {{tr.userName}}
</p>
<p>
  {{tr.starterPokemon}}
</p>

<div class="container">
<table class="table table-hover" *ngIf='pkns.length>0' >
  <tr>
    <th>Id</th>
    <th>Nickname</th>
  </tr>
  <tr *ngFor='let p of pkns' >
    <td> {{p.pokemonName}} </td>
    <td> {{p.pokemonNickName}} </td>
    

  </tr>
</table>
</div>
